.content_dev {
    background: #fff;
    color: #000;
    border-radius: 20px;
    margin: 0;
    padding: 36px 40px;
    width: 600px;
    height: auto;
    margin-top: 30px;
}

.table_error {
    & table,
    th,
    td {
        border: 1px solid black;
    }
}
